anyjson
eventlet>=0.9.12
jsonpath
Paste
PasteDeploy
iso8601>=0.1.4
python-heatclient==0.2.1
jsonschema==2.0.0
netaddr

oslo.config
deep
http://github.com/sergmelikyan/murano-common/releases/download/0.2/muranocommon-0.2.tar.gz#egg=muranocommon-0.2
