anyjson
eventlet>=0.9.12
jsonpath
Paste
PasteDeploy
iso8601>=0.1.4
python-heatclient==0.2.1
jsonschema==2.0.0
netaddr

oslo.config
deep
http://tarballs.openstack.org/murano-common/murano-common-release-0.2.tar.gz#egg=muranocommon-dev
