{
  "Scripts": [
    "createSecondaryDC.ps1"
  ],
  "Commands": [
    {
      "Name": "Import-Module",
      "Arguments": {
        "Name": "CoreFunctions"
      }
    },
    {
      "Name": "Install-RoleSecondaryDomainController",
      "Arguments": {
        "DomainName": "$domain",
        "UserName": "Administrator",
        "Password": "$domainPassword",
        "SafeModePassword": "$recoveryPassword"
      }
    }
  ],
  "RebootOnCompletion": 1
}