{
  "Scripts": [
    "setPassword.ps1", "createPrimaryDC.ps1"
  ],
  "Commands": [
	{
		"Name": "Import-Module",
		"Arguments": {
      		"Name": "CoreFunctions"
    	}
    },
	{
		"Name": "Install-RolePrimaryDomainController",
		"Arguments": {
        	"DomainName": "$domain",
			"SafeModePassword": "$recoveryPassword"
	 	}
	}
  ],
  "RebootOnCompletion": 1
}