{
  "Scripts": [
    "ImportCoreFunctions.ps1",
    "Set-LocalUserPassword.ps1",
    "Install-RolePrimaryDomainController.ps1"
  ],
  "Commands": [
    {
      "Name": "Set-LocalUserPassword",
      "Arguments": {
        "UserName": "Administrator",
        "Password": "P@ssw0rd123",
        "Force": true
      }
    },
	  {
		  "Name": "Install-RolePrimaryDomainController",
		  "Arguments": {
     	  "DomainName": "$domain",
 			  "SafeModePassword": "$recoveryPassword"
	 	  }
	  }
  ],
  "RebootOnCompletion": 1
}