{
  "Commands": [
    {
      "Name": "Install-SQLServer",
      "Arguments": {
        "SAPassword": "$saPassword",
        "MixedModeAuth": "$mixedModeAuth"
      }
    }
  ],
  "RebootOnCompletion": 0,
  "Scripts": [
    "importCoreFunctions.ps1", 
    "optionParser.ps1",
    "MSSQL_installOptions.ps1",
    "MSSQL_setup.ps1",
    "MSSQL_install.ps1"
  ]
}