{
  "Commands": [
    {
      "Name": "Enable-TrustedHosts",
      "Arguments": {}
    },
    {
      "Name": "New-SharedFolderForAOAG",
      "Arguments": {
        "PrimaryNode": "$primaryNode"
      }
    }
  ],
  "Scripts": [
    "invocationInfo.ps1",
    "setupAOAG.ps1",
	"setupSQLAccount.ps1"
  ]
}