{
  "Commands": [
    {
      "Name": "Install-FailoverClusterPrerequisites",
      "Arguments": {}
    },
    {
      "Name": "Enable-TrustedHosts",
      "Arguments": {}
    },
    {
      "Name": "Update-ServiceConfig",
      "Arguments": {
        "Password": "$domainAdminAccountPassword",
        "Name": "Murano Agent",
        "RunAsUser": "$domainAdminAccountName",
        "DomainName": "$domainName"
      }
    }
  ],
  "RebootOnCompletion": 1,
  "Scripts": [
    "invocationInfo.ps1",
    "updateServiceConfig.ps1",
    "setupAOAG.ps1",
    "failoverCluster.ps1"
  ]
}