{
  "Commands": [
    {
      "Name": "Initialize-AOAGPrimaryReplica",
      "Arguments": {
        "UserName": "$domainAdminAccountName",
        "NodeList": "$nodeList",
        "PrimaryNode": "$primaryNode",
        "DomainName": "$domainName",
        "UserPassword": "$domainAdminAccountPassword",
        "GroupName": "$groupName",
        "ListenerName": "$listenerName",
        "SyncModeNodeList": "$syncModeNodeList",
        "ListenerIP": "$listenerIP",
        "DatabaseList": "$databaseList"
      }
    }
  ],
  "Scripts": [
    "invocationInfo.ps1",
    "optionParser.ps1",
    "MSSQL_installOptions.ps1",
    "MSSQL_setup.ps1",
    "exportFunction.ps1",
    "powershellProcess.ps1",
    "setupAOAG.ps1"
    ]
}