{
  "Commands": [
    {
      "Name": "Initialize-AlwaysOnAvailabilityGroup",
      "Arguments": {
        "DomainAdminAccountName": "$domainAdminAccountName",
        "DomainAdminAccountPassword": "$domainAdminAccountPassword",
        "NodeList": "$nodeList",
        "PrimaryNode": "$primaryNode",
        "DomainName": "$domainName"
      }
    }
  ],
  "Scripts": [
    "invocationInfo.ps1",
    "optionParser.ps1",
    "MSSQL_installOptions.ps1",
    "MSSQL_setup.ps1",
    "exportFunction.ps1",
    "powershellProcess.ps1",
    "setupAOAG.ps1"
  ]
}