{
  "Commands": [
    {
      "Name": "Disable-Firewall",
      "Arguments": {}
    },
    {
      "Name": "Install-SQLServerForAOAG",
      "Arguments": {
        "SQLServiceUserPassword": "$domainAdminAccountPassword",
        "SQLServiceUserDomain": "$domainName",
        "SQLServiceUserName": "$domainAdminAccountName"
      }
    },
    {
      "Name": "Install-SqlServerPowerShellModule",
      "Arguments": {}
    }
  ],
  "Scripts": [
    "invocationInfo.ps1",
    "optionParser.ps1",
    "MSSQL_installOptions.ps1",
    "MSSQL_setup.ps1",
    "setupAOAG.ps1"
  ]
}